<div class="modal-backdrop" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">
    <h2>Edit Task</h2>
    <input type="text" [(ngModel)]="task?.title" placeholder="Title" required>
    <textarea [(ngModel)]="task?.description" placeholder="Description (optional)"></textarea>
    <div class="modal-footer">
      <button (click)="onEditTask()" class="modal-button save-button">Save</button>
      <button (click)="closeModal()" class="modal-button cancel-button">Cancel</button>
    </div>
  </div>
</div>
